Options -Indexes

RewriteEngine On

RewriteRule ^(\.git|app|config|storage|views) - [F,L]
RewriteRule \.(sql|log|ini|conf|json|md)$ - [F,L]

RewriteRule ^$ public/index.php [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php?url=$1 [QSA,L]